form.form-style{

}

.form-element{
    position: relative;
    color: #535353;
}

.form-label{
    display: block;
    font-size: 1.15rem;
    font-weight: 500;
}

.form-label::after{
    content: '*';
    color: #FF6060;
}

.form-label:not(.label-file){
    position: absolute;
    left: 1em;
    top: 1em;
    pointer-events: none;
    transform: translateY(0) scale(1);
    transform-origin: left;
    transition: transform 200ms ease;
}

.form-field:not(.input-file){
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding: 2em 1em 0.5em;
    border: 2px solid rgb(138, 138, 138);
    outline: none;
    border-radius: 0.5em;
}

.form-field::placeholder{
    opacity: 0;
}

.form-field:focus{
    color: var(--clr-logo);
    border-color: currentColor;
}


.form-element:focus-within .form-label:not(.label-file),
.form-field:focus ~ .form-label:not(.label-file),
.form-field:not(:placeholder-shown) ~ .form-label:not(.label-file){
    font-weight: 500;
    transform: translateY(-0.5em) scale(0.8) ;
}


/* FILE */
.input-file{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.input-file-btn{
    display: inline-block;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5em 1.25em;
    border: 2px solid currentColor;
    outline: none;
    border-radius: 0.2em;
    margin-top: 0.5em;
    transition: 400ms ease;
    cursor: pointer;
    background-color: #fff;
}

.input-file:focus ~ .input-file-btn,
.input-file-btn:hover{
    background-color: var(--clr-logo);
    border-color: var(--clr-logo);
    color: #fff;
}

#upload-fileName{
    font-weight: 700;
    margin-left: 0.5em;
    color: var(--clr-logo);
    padding-bottom: 0.1em;
    border-bottom: 1px solid currentColor;
    transform: translate(-10%);
    opacity: 0;
    transition: 400ms ease;
}


#upload-fileName:not(:empty){
    transform: translate(0);
    opacity: 1;
    color: green;
}

/* TEXTAREA */
.input-textarea{
    height: 220px;
}